@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);

/*
  Will have to make this a lot more efficient using utility classes one day... there's so much redundancy 
*/

body {
  /* --purple-col:var(--darken); */
  /* --purple-col-alt:var(--darken2); */
  --purple-col: #503e6e;
  --purple-col-alt: rgb(56, 42, 77);

  --easy-col: hsl(120, 85%, 27%);
  --medium-col: hsl(39, 80%, 43%);
  --hard-col: hsl(0, 55%, 50%);
  --code-wizard-col: hsl(225, 55%, 50%);

  /* Claeb: really nice blue color lol vvv */
  /* --code-wizard-col: hsl(225, 60%, 50%); */

  /* --purple-col: #8D679F; */
  /* --purple-col-alt: #503E6E; */
  overflow: scroll;
}
body.themestyle-dark{
  --easy-col: hsl(120, 90%, 23%);
  --medium-col: hsl(39, 80%, 35%);
  --hard-col: hsl(0, 60%, 45%);
  --code-wizard-col: hsl(225, 55%, 45%);
}

.material-symbols-outlined {
  max-width: 1em;
}

.c-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transform: rotate(0deg);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  color: var(--primary-col);

  &.point-down {
    transform: rotate(180deg);
  }

  &.point-up {
    transform: rotate(0deg);
  }
}

.c-home-outer {
  padding-inline: 10em;
  padding-top: 1em;
}

.c-home {
  padding-block: 1em;
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 1em;
  position: relative;
}

.challenge-left {
  padding-inline: 2em;
  padding-block: 1em;
  height: calc(100dvh - (95px + 3em));
  background-color: var(--secondary-bg-col);
  border-radius: 10px;
  animation-name: intro-from-left;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  position: sticky;
  top: 1em;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.challenge-right {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 1em;
  align-content: start;
  animation-name: intro-up;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.c-filter-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height:100%;
}

.c-header {
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-search {
  display: flex;
  align-items: center;

  > * {
    color: var(--col) !important;
  }
}

.c-bubble {
  margin: 0 auto;
  padding: 6px;
  max-width: max-content;
  cursor: pointer;
  background-color: var(--secondary-bg-col) !important;
}

.c-browse-container {
  &.empty {
    color: var(--col);
  }
}

.c-ip-container-header,
.c-browse-container-header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.c-in-progress-counter,
.c-browse-counter {
  color: var(--col);
  /* color:var(--col); */
  opacity: 0.75;
  border-radius: 3px;
}

.c-search-inner {
  border: none;
  border-radius: 3px;
  color: var(--col);
}

.c-search-inner:focus {
  outline: none;
}

.c-search-bar {
  padding: 10px 20px !important;
  color: var(--col) !important;
  margin-right: 10px;
}

.c-header-r {
  display: flex;
  gap: 1em;
}

.clear-filters {
  gap: 0.5em;
  border-radius: 3px;
  color: var(--col);
  background-color: var(--bg-col);
  font: var(--font);
  font-size: 13px;
  padding: 0.6em 1.2em;
  cursor: pointer;
}

.c-sort-div {
  position: relative;
  overflow: hidden;
  height: 35px;

  &.collapse {
    overflow: visible;
  }
}

.c-sort-btn {
  height: 35px;
  padding-inline-start: 20px;
  padding-inline-end: 10px;
  background-color: var(--secondary-bg-col);
  color: var(--col);
  font-family: var(--font) !important;
  border-radius: 3px;
  cursor: pointer;
}

.c-outer-browse {
  background-color: var(--secondary-bg-col);
  border-radius: 10px;
  position: relative;
  padding-block-end: 2em;
}

.c-outer-in-progress {
  border-radius: 10px;
  background-color: var(--secondary-bg-col);
  display: grid;
  grid-template-rows: auto 1fr;
  align-content: start;
  position: relative;
  overflow: visible;
  z-index: 0;
  padding-block-end: 2em;
  transition: grid-template-rows 0.3s ease-out;

  &.window-load {
    transition-duration: 0s;
  }

  &.collapse {
    overflow: hidden;
    grid-template-rows: auto 0fr;
    padding-block-end: 0em;
  }
}

.c-in-progress-container {
    overflow: hidden;
    &.empty {
        color: var(--col);
    }
}

.c-outer {
  padding-inline: 2em;
  height: min-content;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.c-section {
  margin-block: 1em;
  /* color: var(--secondary-col); */
  /* color:var(--col); */
}

.c-container {
  display: grid;
  column-gap: 1.5em;

  &:not(.empty) {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5em;
  }
  &.empty {
    padding-block: 1em;
  }
}

.c-card .c-img-div {
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 3px;
}

.c-img {
  /* object-fit: cover; */
  aspect-ratio: 4/3;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.f-options {
  margin-inline-start: 1em;
  margin-block-start: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.f-option{
  display:flex;
  gap:0.5em;
}

.c-text {
  align-items: center;
  color: var(--text-lighten);
}

.c-card {
  /* padding: 10px; */
  padding: 1em;
  user-select: none;
  display: grid;
  /* border: 1px solid black; */
  z-index: 1;
  background-color: var(--tertiary-bg-col);
  /* background: linear-gradient(to bottom, var(--bg-col), var(--tertiary-bg-col)); */
  grid-template-rows: auto;
  gap: 0.8em;
  background-color: whites;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  align-content: space-between;
  transform: scale(1);

  animation: card-intro 0.3s ease-out;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .c-details {
    opacity: 0;
  }

  &:hover {
    .c-details {
      opacity: 1;
    }
  }

  .c-diff {
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 3px;
    /* color: var(--secondary-col); */
    color: white;
    padding-inline: 1em;
    padding-block: 0.5em;

    &[d="easy"] {
      background-color: var(--easy-col);
    }
    &[d="medium"] {
      background-color: var(--medium-col);
    }
    &[d="hard"] {
      background-color: var(--hard-col);
    }
    &[d="code-wizard"] {
      background-color: var(--code-wizard-col);
    }
  }
}

@keyframes card-intro {
  0% {
    opacity: 0.7;
    transform: scale(0.97);
  }

  90% {
    transform: scale(1.01);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.c-button-options {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  align-items: center;

  .material-symbols-outlined {
    font-size: 1.2em;
  }
}

.gap-05 {
  gap: 0.5em;
}

.c-submissions {
  background-color: inherit;
  color: var(--col);
  background-color: var(--darken);
}

.c-preview,
.c-submissions {
  padding: 0.7em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  height: 100%;
  width: 100%;
}

.c-preview {
  background-color: var(--cta-btn-col);
  color: whitesmoke;
}

.c-submitted {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;
  top: 0.5em;
  right: 0.5em;
  text-transform: uppercase;
  padding: 5px;
  backdrop-filter: blur(5px) brightness(0.2);
  -webkit-backdrop-filter: blur(5px) brightness(0.2);
  border-radius: 3px;
  color: var(--secondary-col);
}

.c-details {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  color: black;
}

.c-delete-div {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.c-delete-btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  background-color: rgb(138, 24, 24);
  color: white;
}

.c-confirm-div {
  width: 15em;
  gap: 0.5em;
  display: grid;
  grid-template-rows: auto auto;
  border-radius: 3px;
  background-color: var(--bg-col);
  padding: 1em;
  width: 100%;
}

.c-confirm-options {
  display: flex;
  justify-content: space-between;

  button {
    width: 40%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes AddBubble {
  0% {
    scale: 0.8;
  }

  40% {
    scale: 1.01;
  }

  100% {
    scale: 1;
  }
}

.c-name-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1300px) {
  .c-button-options {
    flex-direction: column;
  }
  .c-name-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5em;
  }
}

/* Small screens */
@media (max-width: 1600px) {
  .c-home-outer {
    padding-inline: 2em;
  }
}

/* Large screens */
@media (min-width: 1900px) {
  .c-container {
    &:not(.empty) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

/* Ultrawide screens */
@media (min-width: 2560px) {
  .c-home-outer {
    padding-inline: 30em;
  }
}
